<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS 실습</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <style>
        p { 
            font-family: 'Nanum Gothic', sans-serif; 
        }
    </style>
</head>
<body>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit repudiandae officia voluptatem quo impedit temporibus ab, voluptas ipsa vel, quis praesentium a est perspiciatis! Quam fuga nostrum nam dicta possimus.
    </p>
    
</body>
</html>